<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Détails</title>
</head>
<body>
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link active" href="listeSoigneurs.html" data-th-href="@{/soigneurs}">Liste des soigneurs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="listeAnimaux.html" data-th-href="@{/animaux}">Liste des animaux</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="addAnimal.html" data-th-href="@{/animal}">Ajouter un animal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="addSoigneur.html" data-th-href="@{/soigneur}">Ajouter un soigneur</a>
    </li>
</ul>

</body>
</html>